#! /usr/bin/env bash

# Set keyboard bindings to Emacs.
set -o emacs

export UNAME="\[\e[0;38;5;37m\]\u@local\[\e[0;38;5;37m\]"
export WORK_DIR="\[\e[0;38;5;34m\][\[\e[0;1;38;5;34m\]\w\[\e[0;1;38;5;34m\]]\[\e[0m\]"
export PS1="$UNAME:$WORK_DIR $ "

# Set path variable
export PATH="/usr/local/opt/make/libexec/gnubin:${PATH}"         # GNU make
export PATH="/usr/local/opt/coreutils/libexec/gnubin:${PATH}"    # GNU core utilities
source /usr/local/Caskroom/miniforge/base/etc/profile.d/conda.sh # Miniforge

# Set text editor
export EDITOR="nvim"

# Set coloring for listings
export CLICOLOR=1
export LS_COLORS="$(vivid generate snazzy)"

alias grep='grep --color=auto'
alias ls="ls --color=auto --group-directories-first -X"
alias mv="mv -i"
alias rm="rm -i"
alias vim="nvim"
